<h1>Ventana principal</h1>

<!-- <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}

    <button>Ejecutar</button>

</form> -->

<form method="POST" action="{% url 'venpri' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="archivo">
    <input type="submit" value="Abrir archivo">
  </form>



<form method="POST" action="{% url 'ejecutar' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="contenido_entrada">{{ contenido }}</textarea>
    <input type="submit" id="btnejecutar" value="Ejecutar">
  </form>
    
    <textarea id="texto-respuesta"></textarea> 
    

  