<h1>Ventana principal</h1>

<!-- <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}

    <button>Ejecutar</button>

</form> -->

<form method="POST" action="{% url 'venpri' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="archivo">
    <input type="submit" value="Abrir archivo">
  </form>


  <form method="POST" id="formulario">
  <textarea name="contenido" id="contenido-entrada">{{ contenido }}</textarea>
  </form>


<form method="POST" action="{% url 'ejecutar' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" id="btnejecutar" value="Ejecutar">
  </form>
    
    <textarea id="texto-respuesta"></textarea>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
      $('#btnejecutar').click(function() {
        var textoEntrada = $('#contenido-entrada').val();
        $.ajax({
          url: '/ejecutar/',
          type: 'POST',
          data: {contenido: textoEntrada},
          success: function(response) {
            $('#texto-respuesta').val(response.texto_respuesta);
          }
        });
      });
    });
    </script>    

  